<ion-header [translucent]="true" id="dark_backgrounded" class="ion-no-border">
  <ion-toolbar color="clear">
    <ion-buttons slot="secondary" style="width:100%;">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title color="primary"><img id="app-logo" class="inner-page" src="../../assets/images/logo.png" alt="Site Logo"
          height="35px"></ion-title>
      <!-- <ion-searchbar class="custom-search" debounce="500" color="light" (search)="onSearchShipment()"
        (ionClear)="onClear()" (ionInput)="onInput( )" placeholder="Buscar Envío" showCancelButton="never"
        [(ngModel)]="search"></ion-searchbar> -->
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="content-inner">
    <!-- <div class="searched-shipments" *ngIf="searchedList">
      <section class="inner-list" *ngFor="let shipment of searchedList" lines="full">
        <ion-grid class="grid-with-background ion-no-padding">
          <ion-row class="row-with-background ion-align-items-center">
            <ion-col size="8">
              <h5 class="white ion-text-uppercase">{{shipment.post_title}}</h5>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-col size="4" class="ion-text-center"><ion-button class="wpc-button-sm-light ion-text-uppercase"
                  shape="default" size="small">{{shipment.status}}</ion-button></ion-col>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center padded-row">
            <ion-col size="7">
              <p class="text-large ion-text-uppercase">{{shipment.wpcargo_receiver_name}}</p>
            </ion-col>
            <ion-col size="5" class="ion-text-right">
              <p class="text-large">{{shipment.current_date | date: 'MMM dd yyyy' }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-start padded-row">
            <ion-col size="7">
              <p class="text-small">{{shipment.wpcargo_receiver_phone}}</p>
              <p class="text-small">{{shipment.wpcargo_receiver_address}}</p>
            </ion-col>
            <ion-col size="5" class="ion-text-right">
              <div class="inner-buttons">
                <ion-button class="wpc-button-sm-green ion-text-uppercase" shape="default" size="small"
                  (click)="trackDetails(shipment.ID)">View</ion-button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="padded-row" *ngIf="shipment.shipment_packages.length > 0">
            <ion-col size="10" class="light-blue-indented">
              <div class="package-fields" *ngFor="let package of shipment.shipment_packages">
                <p class="label-sm-bold">Item Description</p>
                <p class="label-sm-indented" *ngIf="package['wpc-pm-description']">{{package['wpc-pm-description']}}</p>
                <p class="label-sm-indented" *ngIf="!package['wpc-pm-description']">No description for this item</p>

                <div class="parcel-details">
                  <div class="item-detail">
                    <img class="item-icon" src="../../../assets/images/weight-loss.png" alt="Item icon">
                    <p class="label-sm-indented" *ngIf="package['wpc-pm-weight']">{{package['wpc-pm-weight']}} Lbs</p>
                    <p class="label-sm-indented" *ngIf="!package['wpc-pm-weight']">1 Lbs</p>
                  </div>
                  <div class="item-detail">
                    <img class="item-icon" src="../../../assets/images/money.png" alt="Item icon">
                    <p class="label-sm-indented" *ngIf="package['wpc-pm-value']">{{package['wpc-pm-value']}} USD</p>
                    <p class="label-sm-indented" *ngIf="!package['wpc-pm-value']">0.00 USD</p>
                  </div>
                  <div class="item-detail">
                    <img class="item-icon" src="../../../assets/images/quality.png" alt="Item icon">
                    <p class="label-sm-indented" *ngIf="package['wpc-pm-description']">{{package['wpc-pm-qty']}}</p>
                    <p class="label-sm-indented" *ngIf="!package['wpc-pm-description']">1</p>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </div> -->

    <section class="main-page" *ngIf="!searchedList">
      <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="ion-text-center"><ion-button class="wpc-button-sm-green ion-text-uppercase"
              expand=full size="small" color="secondary" routerLink="/home/routes">Delivery Route</ion-button></ion-col>
          <ion-col size="6" class="ion-text-center"><ion-button class="wpc-button-sm-blue ion-text-uppercase"
              expand=full size="small" color="primary" routerLink="/home/pick-up-route">Pickup
              Route</ion-button></ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid class="grid-with-background shadowed ion-no-padding" *ngIf="!hasPickupRoute">
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-no-padding ion-align-items-center">
            <ion-grid class="ion-no-padding">
              <ion-row class="row-with-background ion-align-items-center ion-justify-content-center ion-padding">
                <ion-col size="12" class="ion-text-center">
                  <img class="home" src="../../../assets/images/tracking.png" alt="Item icon">
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <h3 class="white ion-text-uppercase">No available routes to show.</h3>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

      <section class="map" [hidden]="!hasPickupRoute">
        <app-pickupmap [refreshPickupRoute]="refreshPickupRouteCounter" (hasRoutes)="onHasRoutesChanged($event)"></app-pickupmap>
      </section>
    </section>

    <section class="main-page" *ngIf="!searchedList && hasPickupRoute">
      <ion-grid class="grid-with-background ion-no-padding" *ngFor="let way of routes">
        <ion-row class="row-with-background ion-align-items-center" (click)="hideSegment(way.index)">
          <ion-col size="8">
            <h5 class="text-label-small ion-text-uppercase">Route Segment {{way.index}}</h5>
            <h5 class="white ion-text-uppercase">{{way.number}}</h5>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-button class="wpc-button-sm-red ion-text-uppercase" color="primary" expand="full" size="small"
              (click)="viewDetails(way.id)">SIGN</ion-button>
          </ion-col>
          <!-- <ion-col size="1" class="ion-text-right">
            <ion-icon *ngIf="way.index == segment" [name]="segmentIcon" color="light"></ion-icon>
          </ion-col> -->
        </ion-row>

        <ion-row class="ion-align-items-center padded-row" *ngIf="way.index == segment">
          <ion-col size="12">
            <p class="text-label-small">ORIGIN</p>
            <p class="text-large ion-padding-start">{{way.start_address}}</p>
          </ion-col>
          <ion-col size="12">
            <p class="text-label-small">DESTINATION</p>
            <p class="text-large ion-padding-start">{{way.end_address}}</p>
          </ion-col>
          <ion-col size=" 12" class="ion-padding">
            <p class="text-label-small ion-text-uppercase">Additional Details</p>
            <p class="text-large ion-text-uppercase" *ngFor="let rec of way.info | keyvalue">{{rec.value}}</p>
          </ion-col>
          <ion-col size="12" class="padded-row">
            <ion-grid>
              <ion-row class="row-with-background ion-align-items-center">
                <ion-col size="6">
                  <p class="text-label-small ion-text-uppercase">DISTANCE</p>
                  <h5 class="text-large ion-text-uppercase">{{way.distance.text}}</h5>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                  <p class="text-label-small ion-text-uppercase">DURATION</p>
                  <h5 class="text-large ion-text-uppercase">{{way.duration.text}}</h5>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

  </div>

</ion-content>