<ion-content class="backgrounded">
  <section class="wpc-homesplash-background">
    <img src="../../../assets/images/logo-white.png" class = "logo-white" alt="logo-white">
    <div class="splash-inner-div">
      <img src="../../../assets/images/dashboard-banner.png" alt="human">
    </div>
    <div class="ion-text-center splash-inner-text">
      <!-- <app-logo></app-logo> -->
      <ion-text color = "primary" class = "ion-padding">
        <!-- <h1 class="ion-text-center green" color="primary"><span class = "bold">Tu mundo,</span> entregado instantáneamente</h1> -->
        <h1 class="ion-text-center green" color="primary">Rapidité.</h1>
        <h1 class="ion-text-center green" color="primary">Fiabilité.</h1>
        <h1 class="ion-text-center green" color="primary">Simplicité.</h1>
      </ion-text>
      
      <!-- <h4 class="ion-text-center green">Your world, delivered instantly</h4> -->
      <ion-button fill="solid" expand="full" color="primary" class="ion-text-uppercase bold ion-padding" routerLink="login">Login</ion-button>
    </div>
  </section>
</ion-content>