<ion-content padding='true' class="backgrounded">
  <div id="content-wrapper">
    <div id="logo-with-text" class="ion-text-center">
      <img id="app-logo" src="../../../assets/images/wpcargo-main.png" alt="Site Logo">
    </div>
    <div class="welcome-text">
      <h3 class="bigger-text ion-text-uppercase ion-text-center">Forgot Password ?</h3>
    </div>

    <section id="section-main-content">
      <form>
        <ion-grid class="underlined">
          <ion-row class="ion-padding-bottom">
            <ion-col size="12" class="ion-no-padding">
              <ion-label class="label-bold" position="stacked">OTP</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col size="1" class="ion-no-padding">
              <img class="input-icon" src="../../../assets/images/otp.png" alt="icon">
            </ion-col>
            <ion-col size="11" class="ion-no-padding">
              <ion-input autocomplete="off" type="text" placeholder="Enter OTP" name="otp"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="underlined">
          <ion-row class="ion-padding-bottom">
            <ion-col size="12" class="ion-no-padding">
              <ion-label class="label-bold" position="stacked">Password</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col size="1" class="ion-no-padding">
              <img class="input-icon" src="../../../assets/images/padlock.png" alt="icon">
            </ion-col>
            <ion-col size="11" class="ion-no-padding">
              <ion-input autocomplete="off" type="text" placeholder="Enter New Password" name="password"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="underlined">
          <ion-row class="ion-padding-bottom">
            <ion-col size="12" class="ion-no-padding">
              <ion-label class="label-bold" position="stacked">Confirm Password</ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col size="1" class="ion-no-padding">
              <img class="input-icon" src="../../../assets/images/padlock.png" alt="icon">
            </ion-col>
            <ion-col size="11" class="ion-no-padding">
              <ion-input autocomplete="off" type="text" placeholder="Confirm Password"
                name="confirm_password"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button fill="solid" class="wpc-button-blue ion-text-uppercase" routerLink="/login">Reset</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </section>
  </div>
</ion-content>